body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #222;
  color: #fff;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

/* Sticky Navbar */
.navbar {
  position: fixed;
  width: 100%;
  background-color: #333;
  z-index: 1000;
  top: 0;
  padding: 0.3rem 0; /* Reduced padding */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar .container {
  max-width: 1200px; /* Limit the maximum width of the container */
  margin: 0 auto; /* Center the container horizontally */
  padding: 0 1rem; /* Add padding to the sides */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 0;
  color: #fff;
  font-size: 1.5rem; /* Adjust font size */
  text-decoration: none; /* Remove underline */
}

.logo:hover {
  color: #fff; /* Change color on hover */
}

.nav-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-menu li {
  display: inline-block;
  margin-right: 1rem;
}

.nav-menu li:last-child {
  margin-right: 0;
}

.nav-menu a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-menu a:hover {
  color: #ddd;
}

/* Section Styles */
.game-section {
  margin-bottom: 2rem;
}

.section-title {
  text-align: center;
}

.game-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.game-list li {
  margin: 1rem;
  position: relative;
}

.game-cover {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.game-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform .3s ease-in-out;
}

.game-cover:hover img {
  transform: scale(1.05);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
  background-color: #333;
  color: #fff;
  margin: 15% auto;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
}

.close-button {
  color: #ccc;
  float: right;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.close-button:hover,
.close-button:focus {
  color: #fff;
  text-decoration: none;
}
